<div class="col-md-12">
<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <h2>Sign In</h2>
    </div>
    <div class="alert alert-success" *ngIf="loading">
      <i class="icon fa fa-info"></i> Signing in please wait..
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body box">
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="alert alert-info" *ngIf="!submitted">
        <i class="icon fa fa-info"></i> Sign in to start your session
      </div>
      <form method="post" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group has-feedback">
          <input type="input"
                 name="username"
                 class="form-control"
                 placeholder="Enter your username"
                 required
                 ngModel
                 #username="ngModel"
          >
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="help-block inputError"
                *ngIf="!username.valid && username.touched">
            Please enter your username
          </span>
        </div>
        <div class="form-group has-feedback">
          <input type="password"
                 name="password"
                 class="form-control"
                 placeholder="Password"
                 required
                 ngModel
                 #password="ngModel">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <span class="help-block inputError"
                *ngIf="!password.valid && password.touched">
            Please enter your password
          </span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox">
                <a routerLink="/forgot-password">I forgot my password</a><br> 
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat"
            [disabled]="!loginForm.valid">
              Sign In
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
</div>
</div>
